PORT=3000
STUDENT_NAME=Nguyễn Thanh Triệu
STUDENT_ID=23IT285

# 1. MongoDB Atlas Read Connection (Tài khoản chỉ có quyền đọc)
MONGO_URI_READ=mongodb+srv://<username_read>:<password>@<cluster>.mongodb.net/DB_<MSSV>?retryWrites=true&w=majority

# 2. MongoDB Atlas Write Connection (Tài khoản chỉ có quyền ghi)
MONGO_URI_WRITE=mongodb+srv://<username_write>:<password>@<cluster>.mongodb.net/DB_<MSSV>?retryWrites=true&w=majority

# 3. MongoDB Atlas Stateless Session Connection (Tài khoản có quyền read & write vào sessions)
MONGO_URI_SESSION=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/DB_<MSSV>?retryWrites=true&w=majority

# 4. Secret Session
SESSION_SECRET=your_secret_session_key
